#*#
*.dll
*.dylib
*.exe
*.out
*.so
*.swp
*.test
*~
.DS_Store
dnscrypt-proxy/dnscrypt-proxy
dnscrypt-proxy/dnscrypt_proxy
dnscrypt_proxy
dnscrypt-proxy/*-resolvers.md*
*-resolvers.md*
relays.md*
utils/pretty-logs/etld
vendor/pkg
dnscrypt-proxy.toml
*public.md*
.idea
